body{

border:8px solid;
margin-top:15px ;
margin-left: 15p;
border-color: #6699ff;
background: #ff66cc;
color: #000000;


}

p{

margin-left: 40px;
margin-right: 40px;
text-align: justify;
font-style: 25px;

}


img{

border-style: dashed;
border-width: 8px;
border-color: #000099;



}
